<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 – Page Not Found</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="datasets-page">
    <!-- The main section for the 404 page -->
    <header class="hero">
      <video autoplay muted loop playsinline id="bg-video">
        <source
          src="{{ url_for('static', filename='videos/clip rl.mp4') }}"
          type="video/mp4"
        />
      </video>
      <div class="overlay"></div>

      <div class="hero-content">
        <h1>⚠ 404 – BOOST LOST</h1>
        <p>Looks like this page flipped like a car without boost...</p>
      </div>
    </header>

    <!-- The navigation bar -->
    <nav class="onglets">
      <a href="{{ url_for('Index') }}">Home</a>
      <a href="{{ url_for('eva') }}">EVA</a>
      <a href="{{ url_for('datasets') }}">Datasets</a>
      <a href="{{ url_for('projects') }}">The project</a>
      <a href="{{ url_for('about') }}">About Me</a>

      <!-- The menu -->
      <div class="floating-menu" aria-label="Main menu">
        <button class="menu-btn" title="Menu">
          <img
            src="{{ url_for('static', filename='images/SHINYLOGO.jpg') }}"
            alt="Menu icon"
          />
        </button>

        <div class="dropdown">
          <a href="{{ url_for('Index') }}">🏠 Home</a>
          <a href="{{ url_for('eva') }}">🤖 EVA</a>
          <a href="{{ url_for('datasets') }}">📊 Datasets</a>
          <a href="{{ url_for('projects') }}">🎮 The Project</a>
          <a href="{{ url_for('about') }}">👤 About Me</a>
        </div>
      </div>
    </nav>

    <!-- 404 page -->
    <main class="content">
      <section class="section-flex middle fade-in">
        <div class="section-text">
          <h2>Oops… EVA can’t find this replay.</h2>
          <p>
            The page you’re looking for doesn’t exist.<br />
            Maybe it was demoed… or never spawned!
          </p>
          <br />
          <a href="{{ url_for('Index') }}" class="btn-return">Return to Home</a>
        </div>
      </section>
    </main>

    <!-- The footer -->
    <footer class="footer">
      <p>© 2025 - Touileb Yacine | All rights reserved</p>
    </footer>
  </body>
</html>
